blinker
certifi
charset-normalizer
click
colorama
exceptiongroup
filelock
Flask
fsspec
gunicorn
huggingface-hub
idna
iniconfig
intel-openmp
itsdangerous
Jinja2
# job-match==1.0
joblib
MarkupSafe
mkl
mpmath
networkx
numpy
packaging
pandas
pillow
pluggy
pytest
python-dateutil
pytz
PyYAML
regex
requests
safetensors
scikit-learn
scipy
sentence-transformers
six
sympy
tbb
threadpoolctl
tokenizers
tomli
torch
tqdm
transformers
typing_extensions
tzdata
urllib3
Werkzeug
